.about {
	background-color: lighten( $primary-color, 22 );

	&_img {
		line-height: 0;
		display: none;

		img {
			width: 95%;
			-webkit-filter: grayscale(35%);
			filter: grayscale(35%);
			border: 4px solid lighten( $primary-color, 10 );
		}

		@media (#{$bp-larger-than-phablet}) {
			display: block;
		}
	}

	&_contact {

		font-size: 1.25em;
		list-style-type: none;
	}
}