.header {
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;

	&_logo {
		display: inline-block;
		text-decoration: none;

		&:hover, &:focus, &:active {

			.header_logo_title {
				color: darken( $heading-color, 15 );
			}

			.header_logo_subtitle {
				color: darken( lighten( $heading-color, 20 ), 15 );
			}
		}

		&_title {
			color: $heading-color;
			font-size: 2em;
			font-family: $font-family-headings--italic;
			line-height: 2em;
			letter-spacing: 0;
			margin-bottom: -0.4em;
			transition: color 0.5s;
		}

		&_subtitle {
			font-size: .9em;
			line-height: 0.5em;
			color: lighten( $heading-color, 20 );
			transition: color 0.5s;
		}
	}

	&_nav {

		&_list {

			list-style-type: none;

			li {
				padding: 0 2em;
				display: inline-block;
			}
		}
	}
}