.work {

	.work_item {
		margin-top: 2em;
		text-align: center;
		display:  block;
		position: relative;
		padding: .5em;
		overflow: hidden;

		&:before {
			content: '';
			width: 100%;
			height: 0px;
			display: block;
			position: absolute;
			top: 2.5em;
			left: 0;
			z-index: -10;
			background-color: lighten( $primary-color, 4 );
			transition: height 0.2s ease-in, color 0.5s ease;
		}

		&:hover, &:active, &:focus {

			.work_item_header:before {
				height: 100%;
			}
		}

	}

	&_item_img-container {

		padding: 1em;
		display: block;

		&_img {

			width: 90%;
	    	height: auto;
	    	border: 4px solid $primary-color;

		}
	}
}