	<section class="section about">

		<div class="container">

			<h2>About Me</h2>
		
			<div class="row">

				<div class="three columns">
					<span class="about_img">
						<img src="assets/images/profile.jpg" alt="A photograph of myself">
					</span>
				</div>

				<div class="nine columns">
					<p>Hello there! I'm Amber. Web development has been a passion of mine for a large part of my life, and I love to make cool new things. I made my first website in 2003 with Tripod's site builder, and learned HTML and CSS by modifying the markup and styles it generated so the design would look how I wanted. The web has grown a lot since then, and so have I. In 2013, I graduated from the <a href="http://www.rit.edu">Rochester Institute of Technology</a> with a Bachelor's in New Media Interactive Development and a minor in Japanese Language.</p>

					<p>My specialty is front-end web development, but I am interested in learning more about how to develop back-end systems and manage databases effectively. Previously, I've worked at <a href="http://www.geico.com">GEICO</a> and <a href="http://www.sapientnitro.com/">SapientNitro</a>, and I am currently consulting for <a href="http://www.cvshealth.com">CVS Health</a>. You can learn more about my skills and background on my <a href="https://www.linkedin.com/in/amberlcook">LinkedIn profile</a>.</p>
					
					<p>When I'm not writing code, you can find me playing video games, cooking, listening to audiobooks, doodling, and studying Japanese. I live in the Boston metro area with my fianc&eacute; and our cat, Lucina.</p>


					<ul class="about_contact">
						<li>
							<a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#097;&#109;&#098;&#101;&#114;&#099;&#111;&#111;&#107;&#046;&#099;&#111;&#100;&#101;&#115;"><i class="fa fa-envelope" aria-hidden="true"></i> &#104;&#101;&#108;&#108;&#111;&#064;&#097;&#109;&#098;&#101;&#114;&#099;&#111;&#111;&#107;&#046;&#099;&#111;&#100;&#101;&#115;</a>
						</li>
						<li><a href="https://www.linkedin.com/in/amberlcook"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
						<li><a href="https://github.com/ambercook"><i class="fa fa-github-square" aria-hidden="true"></i> Github</a></li>
					</ul>
				</div>
			</div>

		</div>

	</section>