	<section class="section about">

		<div class="container">

			<h2>About Me</h2>
		
			<div class="row">

			<div class="four columns">
				<span class="about_img">
					<img src="assets/images/profile.png" alt="A photograph of myself">
				</span>
			</div>

			<div class="eight columns">
				<p>Hi, I'm Amber. I made my first website in 2003 with Tripod's site builder, and learned HTML and CSS by modifying the markup and styles it generated to make the design more in line with what I wanted. A lot has changed on the web since then, and so have I. In 2013, I graduated from <a href="http://www.rit.edu">RIT</a> with a Bachelor's in New Media Interactive Development and a minor in Japanese Language.</p>

				<p>My specialty is front-end web development, but I am interested in learning more about how to develop back-end systems and manage databases effectively. Previously, I've worked at <a href="http://www.geico.com">GEICO</a> and <a href="http://www.sapientnitro.com/">SapientNitro</a>, and I am currently consulting for <a href="http://www.cvshealth.com">CVS Health</a>. You can learn more about my skills and background on my <a href="https://www.linkedin.com/in/amberlcook">LinkedIn profile</a>.</p>
				
				<p>When I'm not writing code, you can find me playing video games, cooking, listening to audiobooks, and doodling. I live in the Boston metro area with my fianc&eacute; and our cat, Lucina. It's nice to meet you!</p>
			</div>

		</div>

	</section>