	<section class="section contact">

		<div class="container">

			<h2>Get in touch</h2>
			
			<div class="row">

				<form class="contact_form seven columns">

					<p>Please note that if you choose to use the form below, all fields are required.</p>

					<div class="row">

						<label for="contactName">Name</label>
	      				<input 
	      					class="u-full-width" 
	      					type="text" 
	      					placeholder="Your Name" 
	      					id="contactName">
					</div>

					<div class="row">

						<label for="contactEmail">Email Address</label>
	      				<input 
	      					class="u-full-width" 
	      					type="email" 
	      					placeholder="you@domain.com" 
	      					id="contactEmail">
					</div>


					<div class="row">

						<label for="contactMessage">Message</label>
					  	<textarea 
					  		class="u-full-width" 
					  		placeholder="Hey Amber, top of the muffin to you!" 
					  		id="contactMessage"></textarea>

					</div>

					<div class="row">
						<input class="button-primary" type="submit" value="Submit">
					</div>
				</form>

	

				<div class="contact_details four columns">
		
					<h3>Elsewhere</h3>

					<ul class="contact_details_list">
						<li>
							<a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#097;&#109;&#098;&#101;&#114;&#099;&#111;&#111;&#107;&#046;&#099;&#111;&#100;&#101;&#115;"><i class="fa fa-envelope" aria-hidden="true"></i> &#104;&#101;&#108;&#108;&#111;&#064;&#097;&#109;&#098;&#101;&#114;&#099;&#111;&#111;&#107;&#046;&#099;&#111;&#100;&#101;&#115;</a>
						</li>
						<li><a href="https://www.linkedin.com/in/amberlcook"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
						<li><a href="https://github.com/ambercook"><i class="fa fa-github-square" aria-hidden="true"></i> Github</a></li>
					</ul>
				</div>



			</div>


		</div>

	</section>