@font-face {
	font-family: 'Ek Mukta Regular';
	src:  url('fonts/EkMukta-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Ek Mukta Bold';
	src:  url('fonts/EkMukta-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Sorts Mill Goudy Regular';
	src:  url('fonts/SortsMillGoudy-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Sorts Mill Goudy Italic';
	src:  url('fonts/SortsMillGoudy-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro Regular';
	src:  url('fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro Bold';
	src:  url('fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Regular';
	src:  url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Bold';
	src:  url('fonts/Roboto-Bold.ttf') format('truetype');
}